@font-face {
    font-family: 'Korto';
    src: url('http://localhost:9000/fonts/KortoB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Korto', Arial, sans-serif;
}
