.profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure space between items */
    height: calc(100vh - 60px); /* Full viewport height minus header and footer */
    box-sizing: border-box;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #2196F3;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.sign-out-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: auto; /* Pushes the button to the bottom */
    margin-bottom: 60px; /* Ensures the button is above the footer */
    width: 100%;
}

.sign-out-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #245ec7; /* Updated background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    width: 80%; /* Expand the button width */
    max-width: 400px; /* Set a max-width if necessary */
    text-align: center;
}

    .sign-out-button:hover {
        background-color: #1e4ea1; /* Slightly darker shade for hover effect */
    }
